extends layout

block content

    div(class="navbar navbar-default header navbar-static-top " role="navigation")
        div(class="container")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-coll")
                span(class="sr-only") Toggle Navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
                a(class="navbar-brand" href="/" title="Go Home") Home
                a(class="navbar-brand" href="/" title="About") About Neg 5


    div(class="container vertical-center parent")
        div(class="container span4 text-center child")
            h1(style="white-space:pre")
                | #{title}
                br
                br
                | Quizbowl In The Cloud
            form(name="logins" id="loginfo" action="/login" role="form" method="post")
                div(class="form-group")
                    input(
                        type="input",
                        name="usrname",
                        placeholder="Email",
                        class="form-control input-lg center-text no-border-radius"
                        )
                div(class="form-group")
                    input(
                        type="password",
                        name="pswd",
                        placeholder="Password",
                        class="form-control input-lg center-text infofield"
                        )
                div(class="form-group")
                    div(class="form-group text-center")
                        button(class="btn btn-success btn-lg center-in-div",
                            type="submit",
                            id="login")
                            | Login
                        button(class="btn btn-warning btn-lg center-in-div",
                            type="button",
                            id="register",
                            data-toggle="modal",
                            data-target="#registerWindow")
                            | Register

    div(id="registerWindow" class="modal fade" role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h4(class="modal-title") Registration
                div(class="modal-body")
                    p Enter your desired username and password
                    form(name="signup" action="/register" method="post")
                        div(class="form-group")
                            input(
                                type="input",
                                name="r_usrname",
                                placeholder="Username",
                                class="form-control input-lg center-text no-border-radius",
                                autocomplete="off"
                                )
                        div(class="form-group")
                            input(
                                type="password",
                                name="r_pswd",
                                placeholder="Password",
                                class="form-control input-lg center-text infofield"
                                )
                        div(class="form-group")
                            input(
                                type="password",
                                name="r_pswd_2",
                                placeholder="Confirm Password",
                                class="form-control input-lg center-text infofield"
                                )
                        div(class="modal-footer")
                            button(type="submit" class="btn btn-success") Confirm Registration
                            button(type="button" class="btn btn-info" data-dismiss="modal") Close
